<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.codeworld.fc.job.mapper.JobLogMapper">

    <resultMap id="BaseJobLogMap" type="com.codeworld.fc.job.entity.JobLog">

        <id property="jobLogId" column="t_job_log_id"/>

        <result property="jobId" column="t_job_id"/>

        <result property="jobBeanName" column="t_job_bean_name"/>

        <result property="jobMethodName" column="t_job_method_name"/>

        <result property="jobParams" column="t_job_params"/>

        <result property="jobStatus" column="t_job_status"/>

        <result property="jobLogError" column="t_job_log_error"/>

        <result property="jobLogTime" column="t_job_log_time"/>

        <result property="jobLogCreateTime" column="t_job_log_create_time"/>

    </resultMap>

    <!-- 查询语句 -->
    <!-- 获取全部的任务日志 -->
    <select id="getAllJobLog" parameterType="com.codeworld.fc.job.vo.JobLogSearchVO" resultMap="BaseJobLogMap">
        select * from codeworld_job_log

        <where>
            <if test="jobBeanName != null and jobBeanName != ''">

                and   t_job_bean_name like "%"#{jobBeanName}"%"
            </if>

            <if test="jobMethodName != null and jobMethodName != ''">
                and t_job_method_name like "%"#{jobMethodName}"%"
            </if>

            <if test="status != null">
                and  t_job_status = #{status}
            </if>

            <if test="startTime != null ">
                <![CDATA[

                    and   t_job_log_create_time >= #{startTime}
                 ]]>
            </if>

            <if test="endTime != null ">
                <![CDATA[

                   and  t_job_log_create_time <= #{endTime}
                 ]]>
            </if>

        </where>

        order by t_job_log_create_time DESC
    </select>
    <!-- 添加语句 -->
    <!-- 添加任务日志 -->
    <insert id="addJobLog" parameterType="com.codeworld.fc.job.entity.JobLog">
        insert into codeworld_job_log
        (
        t_job_log_id,
        t_job_id,
        t_job_bean_name,
        t_job_method_name,
        t_job_params,
        t_job_status,
        t_job_log_error,
        t_job_log_time,
        t_job_log_create_time
        ) values
        (
        #{jobLogId},
        #{jobId},
        #{jobBeanName},
        #{jobMethodName},
        #{jobParams},
        #{jobStatus},
        #{jobLogError},
        #{jobLogTime},
        #{jobLogCreateTime}
        );
    </insert>

    <!-- 删除语句 -->
    <!-- 手动删除日志 -->
    <delete id="deleteJobLog" parameterType="java.lang.Long">
        delete from codeworld_job_log where t_job_log_id = #{id}
    </delete>
</mapper>
